.profile{
  .form{
	padding:50px;
	padding-bottom: 330px;
	.title{
	  font-size: 25px;
	  font-weight: bold;
	  margin-bottom: 10px;
	}
	.direction{
	  font-weight: 300;
	}
	form{
	  width:60%;
	  margin-top: 30px;
	}
  }
}
