.step-two {
  background: #f1f1f1;
  padding:50px;
  img {
	width: 571px;
	margin: 0 auto;
	display: block;
  }
  .form{
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	padding: 30px 15px 15px 15px;
	margin-top: 30px;
	min-height:400px;
	overflow: hidden;
	.submit-btn{
	  width:100%;
	  margin-top:60px;
	  padding:8px;
	}
  }
  .tips {
	background-color: #f1f2de;
	border: 2px solid rgba(0,0,0,0.15);
	border-radius: 5px;
	margin-top: 23px;
	margin-bottom: 40px;
	padding: 15px;
	float: right;
	img {
	  width: 30px;
	  float: left;
	  margin-top: 16px;
	  margin-left: -6px;
	}
	h3 {
	  font-size: 18px;
	  text-decoration: underline;
	  padding-bottom: 0px;
	  margin-bottom: 0px;
	  font-weight: normal;
	}
	p {
	  margin-top: 10px;
	  margin-bottom: 10px;
	  line-height: 25px;
	  font-family: sans-serif;
	}
  }
  .preview{
	text-align: center;
	.card{
	  width:80%;
	  margin:20px auto auto auto;
	}
  }
}

