/*fonts*/
$default-font : Oswald,Arial,sans-serif;
$helvetica-font : 'Helvetica Neue',Helvetica,Arial,sans-serif;

/*colors*/
$primary-color: #77b353;
$dark-primary-color: #347C17;
$brand-red : #cb1d00;
$dark-brand-red: #b91a00;
$brand-white : #f8f8f6;
$brand-black: #333;

/*text*/
$link-grey-color: #676767;
$link-blue-color: #166ba2;

/*backgrounds*/
$thumbnail-bg : #e6e6e6;
$light-bg : #DAE4EA;

/*border*/
$border-color : #e9e9e9;

/*social*/
$facebook-color: #3c5a98;
$twitter-color: #1ea1f2;
$instagram-color: #bb0296;
$pinterest-color:#bc0718;
