/*fonts*/
/*colors*/
/*text*/
/*backgrounds*/
/*border*/
/*social*/
.product-group {
  padding-top: 25px; }
  .product-group .row {
    margin: 0px; }
    .product-group .row .column {
      padding: 0px; }
      .product-group .row .column .container {
        width: 100%; }
      .product-group .row .column .banner {
        margin: 10px; }
      .product-group .row .column.left .banner {
        margin-right: 0px;
        position: fixed;
        width: 16%; }
      .product-group .row .column.right .banner {
        margin-left: 0px;
        position: fixed;
        width: 16%; }
      .product-group .row .column .categories {
        border-right: 1px solid #e9e9e9;
        padding-left: 60px; }
        .product-group .row .column .categories ul li {
          list-style: none; }
          .product-group .row .column .categories ul li a {
            display: block;
            padding: 10px 20px 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #333; }
            .product-group .row .column .categories ul li a:hover {
              color: #77b353; }
            .product-group .row .column .categories ul li a.selected {
              color: #77b353; }
          .product-group .row .column .categories ul li .sub-categories a {
            padding: 10px 10px 10px 30px;
            font-weight: normal;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .product-group .row .column .category-wise .category-title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px; }
      .product-group .row .column .category-wise .category-description {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e9e9e9; }
      .product-group .row .column .category-wise .products .container {
        width: 100%;
        padding: 0; }
        .product-group .row .column .category-wise .products .container .row .col-md-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .product-group .row .column .category-wise .products .container .card .card-body .product-image .image {
          height: 252px; }
  .product-group.category-gadgets-and-grej .category-title {
    background: linear-gradient(to bottom, #1569C7 0, #1569C7 100%);
    color: #FFFFFF;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px; }
  .product-group.category-oplevelser .category-title {
    background: linear-gradient(to bottom, #E8A317 0, #E8A317 100%);
    color: #FFFFFF;
    width: 150px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px; }
  .product-group.category-mad-and-drikke .category-title {
    background: linear-gradient(to bottom, #347C17 0, #347C17 100%);
    color: #FFFFFF;
    width: 190px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px; }
  .product-group.category-ting-til-hjemmet .category-title {
    background: linear-gradient(to bottom, #F70D1A 0, #F70D1A 100%);
    color: #FFFFFF;
    width: 220px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px; }

/* responsiveness */
@media (min-width: 1500px) {
  .product-group .row .column.left .banner {
    width: 230px; }

  .product-group .row .column.right .banner {
    width: 230px; } }
@media (max-width: 1200px) {
  .product-group .row .column.left {
    display: none; }

  .product-group .row .column.right {
    display: none; } }
@media (max-width: 992px) {
  .product-group .container .column .categories {
    display: none; } }
/* /responsiveness */
.category-gadgets .column .category-wise .category-title {
  background: linear-gradient(to bottom, #1569C7 0, #1569C7 100%);
  color: #FFFFFF;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px; }

.category-experiences .column .category-wise .category-title {
  background: linear-gradient(to bottom, #E8A317 0, #E8A317 100%);
  color: #FFFFFF;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px; }

.category-food-and-drink .column .category-wise .category-title {
  background: linear-gradient(to bottom, #347C17 0, #347C17 100%);
  color: #FFFFFF;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px; }

.category-others .column .category-wise .category-title {
  background: linear-gradient(to bottom, #e97103 0, #d06503 100%);
  color: #FFFFFF;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px; }

/*# sourceMappingURL=style.css.map */
.catTitle{
	font-size: 30px !important;
	font-weight: bold !important;
}
